:root {
  --color-primary: #1C2941;
  --color-primary-light: #263B59;
  --color-secondary: #53A1CC;
  --color-secondary-dark: #3F668C;
  --color-accent: #9CFFFE;
  --color-neutral-light-grey: #e2e2e2;
  --color-neutral-dark-grey: #282828;
  --color-neutral-white: #fff;
  --font-primary: "Sarabun", Arial, sans-serif;
  --font-secondary: "Roboto Slab", Arial, sans-serif;
}

html {
  font-family: var(--font-primary);
  background-color: var(--color-primary-light);
}

h1 {
  font-family: var(--font-secondary);
  font-weight: 300;
  color: var(--color-neutral-light-grey);
}

h2 {
  color: var(--color-neutral-light-grey);
  font-weight: 600;
}

h3 {
  color: var(--color-neutral-light-grey);
  font-weight: 400;
}

h4 {
  color: var(--color-neutral-light-grey);
  font-weight: 300;
}

h5 {
  color: var(--color-neutral-dark-grey);
  font-weight: 700;
  font-variant: small-caps;
  text-transform: lowercase;
}

h6 {
  color: var(--color-secondary);
  font-weight: 400;
}

ul {
  color: var(--color-neutral-light-grey);
  list-style-type: square;
}

ol {
  color: var(--color-neutral-light-grey);
}

dl {
  color: var(--color-neutral-light-grey);
}

a {
  text-decoration: none;
  color: var(--color-neutral-light-grey);
}

a:hover {
  text-decoration: underline;
  color: var(--color-accent);
}

strong {
  font-weight: 600;
}

abbr {
  text-transform: capitalize;
}

mark  {
  color: var(--color-primary);
  background-color: var(--color-accent);
}
