.btn {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: var(--color-neutral-light-grey);
  border-radius: 0;
  border-width: 2px;
}

.btn:hover {
  background-color: var(--color-secondary-dark);
  border-color: var(--color-secondary-dark);
  border-radius: 0;
}

.btn-ghost {
  background-color: transparent;
  color: var(--color-neutral-light-grey);
  border-color: var(--color-primary);
}

.btn-ghost:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-neutral-light-grey);
}

.btn-light {
  background-color: var(--color-transparent);
  border-color:var(--color-transparent);
  color: var(--color-accent);
}

.btn-light:hover {
  color: var(--color-neutral-white);
}

.btn-cnfrm {
  padding: 6px;
}

.btn-dlt {
  padding: 6px;
}

.btn-cnfrm:hover {
  text-decoration: none;
}

.btn-dlt:hover {
  text-decoration: none;
}
