.carousel-items > div {
  display: none;
}

.carousel-btn {
  border: 4px solid #fff;
  border-radius: 50%;
}

#placeholder-1-control:checked ~ .carousel-inner #placeholder-1,
#placeholder-2-control:checked ~ .carousel-inner #placeholder-2,
#placeholder-3-control:checked ~ .carousel-inner #placeholder-3,
#placeholder-4-control:checked ~ .carousel-inner #placeholder-4 {
  background-color: #fff;
}

#placeholder-1-control:checked ~ .carousel-inner [for="placeholder-1-control"],
#placeholder-2-control:checked ~ .carousel-inner [for="placeholder-2-control"],
#placeholder-3-control:checked ~ .carousel-inner [for="placeholder-3-control"],
#placeholder-4-control:checked ~ .carousel-inner [for="placeholder-4-control"] {
  display: block;
}
