.banner {
  position: relative;
}

.banner-txt {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.h-txt {
  font-family: var(--font-secondary);
}

.txt-shadow {
  text-shadow: 0 0 8px rgba(0, 0, 0, .6);
}

.grey-txt {
  color: var(--color-neutral-dark-grey);
}

.spot-banner {
  border: 2px solid var(--color-secondary);
  background-color: var(--color-primary);
}
