.banner {
  position: relative;
  max-height: 50vh;
  overflow: hidden;
}

.banner-txt {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.hide {
  display: none;
}

.banner-prom {
  background-color: var(--color-alert-red);
  text-align: center;
}

.banner-btm {
  border-bottom: 2px solid var(--color-accent);
}

.h-txt {
  font-family: var(--font-secondary);
}

.txt-shadow {
  text-shadow: 0 0 8px rgba(0, 0, 0, .6);
}

.grey-txt {
  color: var(--color-neutral-dark-grey);
}

.spot-banner {
  border: 2px solid var(--color-secondary);
  background-color: var(--color-primary);
}

@media only screen and (min-width: 38em) {

  .hide {
    display: block;
  }

}
